/* homepage_css_start */
* {
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}
p,
label {
    font-family: "Poppins", sans-serif;
}
/* navbar_start */
.logo img {
    width: 70px;
}
.logo .logo_text {
    display: inline-table;
}
.logo .logo_text h2 {
    font-size: 24px;
    margin-top: 5px;
    color: #ffa300;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.logo .logo_text span {
    color: #000;
    font-weight: 500;
}
.logo .logo_text p {
    margin-top: -8px;
    padding: 0;
    font-size: 6px;
    color: #101820ff;
}
#navbarNav ul li a {
    font-family: "Poppins", sans-serif;
}
#navbarNav button a {
    text-decoration: none;
    color: #fda811;
}
#navbarNav button a:hover {
    text-decoration: none;
    color: #000;
}
/* navbar_end */
/* header_section_start */
.headline h2 {
    color: #013565;
    font-size: 40px;
    font-weight: 500;
    display: inline;
}
.headline img {
    width: 90px;
    padding: 0 12px 0 12px;
    background: #ffa300;
    border-radius: 10px;
}
.headline_p p {
    font-size: 14px;
    color: #726f6f;
}
/* header_section_end */
/* membership_section_start */
#membership .row{
    margin-right: 0px;
    margin-left: 0px;
}
.img .img1 {
    max-width: 250px;
    display: inline;
}
.text1 h2 {
    color: #fff;
    font-size: 28px;
    width: 245px;
    font-size: 25px;
}
.text1 span {
    color: #013565;
}
.text1 p {
    font-size: 13px;
    width: 94%;
    float: right;
    text-align: justify;
}
.text1 button {
    margin: 0 25px 0 0;
}
.text1 .img_1 {
    width: 70px;
}
.text1 .img_2 {
    width: 70px;
    float: right;
    margin-right: 15px;
}

.form-control {
    border: 1px solid #fff;
}
.calculate {
    background-image: url("../img/homepage/18.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 380px;
}
.overlay {
    background: rgba(7, 46, 81, 0.7);
    min-height: 380px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay h4 {
    font-weight: 400;
    width: 350px;
}
.calculate1 {
    margin-left: 10px;
    margin-right: 10px;
}

.calculate1 input {
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    width: 212px;
}
/* Select_box_start */

.select-container {
    width: 212px;
    border: 1px solid #fff;
    position: relative;
    border-radius: 5px;
    background: transparent;
}
.select-container select {
    width: 100%;
    border: 0;
    background: transparent;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-container:after {
    content: "";
    background-image: url("../img/homepage/keyboard-arrow-down.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
    position: absolute;
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
/* Select_box_end */
/* membership_section_end */
/* about_section_start */
.about1 h3 {
    color: #ffa300;
}
.about1 span {
    color: #013565;
}
.about1 p {
    font-size: 15px;
    text-align: justify;
    color: #101820ff;
}
.about_me_text p {
    color: #101820ff;
    font-size: 12px;
}
.about1 h3 {
    color: #ffa300;
    font-weight: 500;
}
.about1 h3 span {
    color: #013565;
    font-weight: 500;
}
.social_icon {
    display: flex;
}
.social_icon .fb {
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    margin-right: 8px;
}
.social_icon .insta {
    border: 1px solid #f8f8f8;
    border-radius: 50%;
}
.social_icon .a {
    text-decoration: none;
}
.social_icon img {
    width: 33px;
    padding: 4px;
    border-radius: 44%;
}
.social_icon img:hover {
    box-shadow: 1px 1px 10px #c6c1c1;
}

.about_me_img .back {
    position: absolute;
    width: 350px;
    top: 22px;
    left: 120px;
    border-radius: 12px;
    margin-left: 22px;
    box-shadow: 2px 2px 10px #615f5f;
}
.about_me_img .back img {
    border-radius: 10px;
}
.about_me_img .front {
    position: relative;
    margin-left: 22px;
    width: 350px;
    top: 85px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px #615f5f;
}
.about_me_img .front img {
    border-radius: 10px;
}
/* about_section_end */
/* service_section_start */
.ourTeam .i {
    margin-top: 30px;
}

.ourTeam .i .c {
    height: 340px;
    width: 17rem;
    background: #fff;
    box-shadow: 5px 5px 10px rgb(204, 202, 202);
    border-radius: 12px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}

.ourTeam .i .c .wrap {
    position: relative;
}

.ourTeam .i .c .wrap img {
    width: 100%;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.ourTeam .i .c .wrap .info {
    padding: 50px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #e1b20a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.ourTeam .i .c .wrap .info img {
    width: 70px;
    border-radius: 50%;
    margin-top: -140px;
}
.ourTeam .i .c .wrap .info .name {
    margin: 0;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.ourTeam .i .c .wrap .info .position {
    margin: -55px;
    font-size: 14px;
    color: #fff;
}

.ourTeam .i .c .more {
    position: absolute;
    bottom: -100%;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.ourTeam .i .c .more p {
    margin: 0 10px 30px 10px;
    line-height: 20px;
    font-size: 13px;
    color: #101820ff;
}

.ourTeam .i .c:hover img {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.ourTeam .i .c:hover .info {
    top: 0;
}

.ourTeam .i .c:hover .more {
    bottom: 0;
}

/* service_section_end */
/* fitness_membership_start */
#fitner_membership {
    position: relative;
    background-image: url("../img/homepage/kelly-sikkema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 480px;
}
.primary-overlay {
    background: rgba(26, 33, 53, 0.7);
    min-height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.fm_t h2 {
    color: #ffa300;
}
.fm_t h2 span {
    color: #ffa300;
    color: #fff;
}
.fm_t p {
    font-size: 16px;
}
.button1 {
    display: inline-flex;
    height: 35px;
    padding: 0;
    background: #ffa300;
    border: none;
    outline: none;
    border-radius: 7px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.button1 a {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}
.button1:hover {
    background: #ffae00;
}
.btn-text,
.btn-icon {
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    color: #013565;
    height: 100%;
}
.btn-icon {
    font-size: 10px;
    background: #fff;
    border-radius: 10px 0px 0px 10px;
}

.box {
    height: 280px;
    width: 19rem;
    background-color: #fff;
    border-radius: 13px;
}
.left_part {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}
.right_part {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
}
.service_box {
    margin: auto;
}
.box {
    margin: auto;
}
.service_box2 {
    margin: auto;
}
.service_box2 img {
    height: 270px;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    margin-top: -14px;
}
.service_body2 {
    position: relative;
    color: #fff;
    margin: 60px 0 0 0;
    padding-left: 20px;
    padding-top: 10px;
    width: 290px;
    border-radius: 0 0 10px 10px;
}
.service_body2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 80px;
}
/* fitness_membership_end */
/* clint_portfolio_start */
.portfolio_text h2 {
    color: #013565;
}
.portfolio_text h2 span {
    color: #ffa300;
}
.portfolio_text p {
    font-size: 14px;
}
.portfolio_box {
    display: flex;
    justify-content: center;
}
.portfolio_box h4 {
    font-size: 18px;
    color: #ffa300;
}
.portfolio_box p {
    font-size: 14px;
}
.portfolio_box img {
    width: 290px;
    height: 324px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 5px 5px 10px rgb(204, 202, 202);
}
.portfolio_box img:hover {
    filter: blur(3px);
    transition: 0.3s;
}
.portfolio_body {
    position: relative;
    color: #fff;
    margin: 248px -25px 0 -25px;
    padding-left: 20px;
    padding-top: 10px;
    width: 290px;
    border-radius: 0 0 10px 10px;

    background-color: rgba(65, 63, 63, 0.5);
}

.flag{
    display: flex;
    justify-content: center;
}
.flag img{
    width: 30px;
    margin: 5px 10px 5px 0px;
}
.flag_text p{
    margin: 0;
    padding: 0;
    color: #273045;
    font-size: 18px;
    margin-left: 10px;
}
/* clint_portfolio_end */
/* testimonial start */
.img__wrap {
    position: relative;
    height: 350px;
    width: 540px;
    margin: auto !important;
}
.img__wrap img {
    width: 600px;
}

.img__description {
    position: absolute;
    top: 215px;
    bottom: 0;
    left: -20px;
    right: 320px;
    border-radius: 10px;
    background: rgba(76, 169, 255, 0.9);
    color: #fff;
    font-size: 12px;
    padding-left: 3px;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

.img__wrap2 {
    position: relative;
    height: 20px;
    width: 140px;
}
.img__wrap2 img {
    width: 70px;
    border-radius: 50%;
    border: 3px solid rgba(76, 169, 255, 0.9);
    margin: -440px 0 0 280px;
    box-shadow: 2px 2px 10px #a4a1a1;
}

.img__description2 {
    position: absolute;
    top: -320px;
    bottom: 185px;
    left: 355px;
    right: -420px;
    border-radius: 10px;
    background: rgba(76, 169, 255, 0.9);
    color: #fff;
    font-size: 10px;
    padding-left: 3px;
    /* visibility: hidden; */
    visibility: visible;
    opacity: 0;

    transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap2:hover .img__description2 {
    /* visibility: visible; */
    opacity: 1;
}

.img__wrap3 {
    position: relative;
    height: 20px;
    width: 140px;
}
.img__wrap3 img {
    width: 70px;
    border-radius: 50%;
    border: 3px solid rgba(76, 169, 255, 0.9);
    margin: -12px 0 0 420px;
    box-shadow: 2px 2px 10px #a4a1a1;
}

.img__description3 {
    position: absolute;
    top: -40px;
    bottom: -52px;
    left: 495px;
    right: -565px;
    border-radius: 10px;
    background: rgba(76, 169, 255, 0.9);
    color: #fff;
    font-size: 10px;
    padding-left: 3px;
    /* visibility: hidden; */
    visibility: visible;
    opacity: 0;

    transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap3:hover .img__description3 {
    /* visibility: visible; */
    opacity: 1;
}

.img__wrap4 {
    position: relative;
    height: 20px;
    width: 140px;
}
.img__wrap4 img {
    width: 70px;
    border-radius: 50%;
    border: 3px solid rgba(76, 169, 255, 0.9);
    margin: -200px 0 0 735px;
    box-shadow: 2px 2px 10px #a4a1a1;
}

.img__description4 {
    position: absolute;
    top: -155px;
    bottom: 20px;
    left: 510px;
    right: -592px;
    border-radius: 10px;
    background: rgba(76, 169, 255, 0.9);
    color: #fff;
    font-size: 10px;
    padding-left: 3px;
    /* visibility: hidden; */
    visibility: visible;
    opacity: 0;

    transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap4:hover .img__description4 {
    /* visibility: visible; */
    opacity: 1;
}

.img__wrap5 {
    position: relative;
    height: 20px;
    width: 140px;
}
.img__wrap5 img {
    width: 70px;
    border-radius: 50%;
    border: 3px solid rgba(76, 169, 255, 0.9);
    margin: -740px 0 0 760px;
    box-shadow: 2px 2px 10px #a4a1a1;
}

.img__description5 {
    position: absolute;
    top: -420px;
    bottom: 330px;
    left: 535px;
    right: -615px;
    border-radius: 10px;
    background: rgba(76, 169, 255, 0.9);
    color: #fff;
    font-size: 10px;
    padding-left: 3px;
    /* visibility: hidden; */
    visibility: visible;
    opacity: 0;

    transition: opacity 0.3s, visibility 0.3s;
}

.img__wrap5:hover .img__description5 {
    /* visibility: visible; */
    opacity: 1;
}
.last_text p {
    font-size: 14px;
    text-align: justify;
}
/* testimonial end */
/* footer_start */
#footer {
    position: relative;
    background-image: url("../img/homepage/17.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
}
.primary-overlay2 {
    min-height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.left_part2 img {
    width: 100px;
}
.left_part2 p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
.mid_part2 h4 {
    color: #ffa300;
    width: 400;
}
.contact_info i {
    color: #ffa300;
    font-size: 20px;
}
.contact_info p {
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.last_part h4 {
    color: #ffa300;
    width: 400;
}
.last_part p {
    color: #fff;
    font-size: 14px;
}
.last_icon {
    margin-left: 85px;
}
.last_icon a {
    text-decoration: none;
    margin-right: 8px;
}
.last_icon i {
    color: #ffa300;
    padding: 8px;
    border-radius: 5px;
    width: 32px;
    border: 1px solid #ffa300;
}
.last_icon i:hover {
    color: #fff;
    background: #ffa300;
    transition: 0.4s;
}

.social_icon2 {
    display: flex;
    margin-top: 5px;
    margin-left: -5px;
}
.social_icon2 .fb2 {
    border: 1px solid #242424;
    border-radius: 50%;
    margin-right: 8px;
}
.social_icon2 .insta2 {
    border: 1px solid #242424;
    border-radius: 50%;
}
.social_icon2 .a {
    text-decoration: none;
}
.social_icon2 img {
    width: 33px;
    padding: 4px;
    border-radius: 44%;
}
.social_icon2 img:hover {
    box-shadow: 1px 1px 10px #000000;
}

/* footer_end */
/* homepage_css_end */

/* form_css_start */
/* Gender_start */
.radio_buttons {
    width: 100%;
}
.custom_radio input {
    display: none;
}
.radio_btn {
    margin: 10px;
    width: 280px;
    height: 200px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio input:checked + .radio_btn {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio input:checked + .radio_btn h5 {
    color: #003981;
}
/* Gender_end */
/* Height_range_start */
.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item label {
    color: #003981;
    font-weight: 500;
    font-size: 18px;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 15px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #fda811;
    background-color: transparent;
}
.radio-item input[type="radio"]:checked + label:after {
    border-radius: 11px;
    width: 16px;
    height: 19px;
    position: absolute;
    top: 5px;
    left: 8px;
    content: " ";
    display: block;
    background: #fda811;
}
/* Height_range_end */

/* age_range_start */
.radio_buttons2 {
    width: 100%;
}
.custom_radio2 input {
    display: none;
}
.radio_btn2 {
    margin: 10px;
    width: 280px;
    height: 200px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img2 img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn2 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio2 input:checked + .radio_btn2 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio2 input:checked + .radio_btn2 h5 {
    color: #003981;
}
#age_range .row {
    width: 90%;
    margin: auto;
}
/* age_range_end */

/* neck_size_start */
.radio_buttons3 {
    width: 100%;
}
.custom_radio3 input {
    display: none;
}
.radio_btn3 {
    margin: 10px;
    width: 230px;
    height: 200px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img3 img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_img4 img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn3 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio3 input:checked + .radio_btn3 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio3 input:checked + .radio_btn3 h5 {
    color: #003981;
}
#neck_size .row {
    width: 90%;
    margin: auto;
}
/* neck_size_end */

/* dietary_restriction_start */
.radio_buttons5 {
    width: 100%;
}
.custom_radio5 input {
    display: none;
}
.radio_btn5 {
    margin: 10px;
    width: 205px;
    height: 195px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img5 img {
    width: 186px;
    height: 173px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.custom_radio5 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 205px;
}
.custom_radio5 input:checked + .radio_btn5 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio5 input:checked + .radio_btn5 h5 {
    color: #fda811;
}
#dietary_restriction .row {
    width: 90%;
    margin: auto;
    text-align: center;
}
/* dietary_restriction_end */

/* waist_size_start */
.radio_buttons8 {
    width: 100%;
}
.custom_radio8 input {
    display: none;
}
.radio_btn8 {
    margin: 10px;
    width: 230px;
    height: 200px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img8 img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_img9 img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn8 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio8 input:checked + .radio_btn8 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio8 input:checked + .radio_btn8 h5 {
    color: #003981;
}
#waist_size .row {
    width: 90%;
    margin: auto;
}
/* waist_size_end */

/* body_shape_start */
.radio_buttons10 {
    width: 100%;
}
.custom_radio10 input {
    display: none;
}
.radio_btn10 {
    margin: 10px;
    width: 220px;
    height: 420px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img10 img {
    width: 110px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn10 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio10 input:checked + .radio_btn10 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio10 input:checked + .radio_btn10 h5 {
    color: #003981;
}
#body_shape .row {
    width: 90%;
    margin: auto;
}
/* body_shape_end */
/* habits_range_start */
.radio_buttons11 {
    width: 100%;
}
.custom_radio11 input {
    display: none;
}
.radio_btn11 {
    margin: 10px;
    width: 290px;
    height: 230px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img11 img {
    width: 160px;
    height: 180px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_btn11 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 190px;
}
.radio_btn11 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 190px;
}
.custom_radio11 input:checked + .radio_btn11 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio11 input:checked + .radio_btn11 h5 {
    color: #003981;
}
#habits .row {
    width: 90%;
    margin: auto;
}
/* habits_range_end */
/* medical_condition_start */
.radio_buttons12 {
    width: 100%;
}
.custom_radio12 input {
    display: none;
}
.radio_btn12 {
    margin: 10px;
    width: 230px;
    height: 200px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img12 img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio_btn12 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 165px;
}
.custom_radio12 input:checked + .radio_btn12 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio12 input:checked + .radio_btn12 h5 {
    color: #003981;
}
#medical_condition .m_header {
    width: 100%;
    text-align: center;
}
.m_option{
    width: 90%;
    margin: auto;
}
.m_option h2{
    color: #003981;
    text-align: center;
    margin-bottom: 3rem;
}
/* medical_condition_end */
/* food_habit_start */
/* .radio_buttons13 {
  width: 100%;
}
.custom_radio13 input {
  display: none;
}
.radio_btn13 {
  margin: 10px;
  width: 290px;
  height: 210px;
  border: 1px solid #ffe6bb;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}
.radio_img13 img {
  width: 250px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.custom_radio13 h5 {
  color: #bfbfbf;
  font-size: 18px;
  margin-top: 220px;
}
.custom_radio13 input:checked + .radio_btn13 {
  border: 2px solid #fda811;
}
.custom_radio13 input:checked + .radio_btn13 h5 {
  color: #fda811;
}
#food_habit .row {
  width: 90%;
  margin: auto;
  text-align: center;
} */
/* food_habit_end */

/* food_allergy_start */
.radio_buttons14 {
    width: 100%;
}
.custom_radio14 input {
    display: none;
}
.radio_btn14 {
    margin: 10px;
    width: 290px;
    height: 210px;
    border: 1px solid #ffe6bb;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.radio_img14 img {
    width: 250px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.custom_radio14 h5 {
    color: #bfbfbf;
    font-size: 18px;
    margin-top: 220px;
}
.custom_radio14 input:checked + .radio_btn14 {
    border: 1px solid #fda811;
    box-shadow: 0 0 20px #0006;
}
.custom_radio14 input:checked + .radio_btn14 h5 {
    color: #fda811;
}
#food_allergy .row {
    width: 90%;
    margin: auto;
    text-align: center;
}
/* food_allergy_end */

/* Slider_start */
.slidecontainer {
    margin: auto;
    text-align: center;
    display: block ruby;
}
.slidecontainer p {
    color: #003981;
    font-weight: 500;
    margin-right: 5px;
}
.slider1 h5 {
    color: #003981;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}
/* Slider_end*/
/* form_css_end */

/* payment_start */
/* members_information_start */
.mi {
    margin-top: 6rem;
}
.mi h2 {
    display: inline;
    color: #ffa300;
}
.mi h2 span {
    color: #003981;
}
.mi .edit {
    display: inline;
    font-size: 18px;
    float: right;
    border: 1px solid #000;
    padding: 6px;
    border-radius: 50%;
    margin-right: 120px;
    cursor: pointer;
}
.info {
    line-height: 2.4;
}
.info i {
    display: inline;
    font-size: 25px;
    color: #003981;
    margin-right: 10px;
}
.info p {
    display: inline;
    font-size: 20px;
    color: #003981;
}
/* members_information_end */
/* package_start */
.package1 h2 {
    color: #003981;
}
.package1 h2 span {
    color: #ffa300;
}
.box2 {
    height: 250px;
    width: 38rem;
    background-color: #ffa300;
    border-radius: 13px;
}
.box2 h3,
h5,
p {
    color: #fff;
}
.yellow_box .left_part {
    border-right: 1px solid#f3f2f2;
    width: 11rem;
}
.yellow_box .left_part .pm {
    border-top: 1px solid#f3f2f2;
    margin-top: 22px;
}
.yellow_box .left_part .bp {
    border-top: 1px solid#f3f2f2;
    border-bottom: 1px solid#f3f2f2;
    margin-top: 22px;
}
.mid_part {
    padding-top: 3rem;
    line-height: 1.9;
}
.mid {
    justify-content: end;
}
.check_icon {
    font-size: 6px;
    background: #fff;
}
.check_icon i {
    font-size: 7px;
    color: #ffa300;
}
.check_text {
    width: 80%;
}
.check_text p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #fff;
}
.yellow_box .right_part {
    border-left: 1px solid#f3f2f2;
    width: 11rem;
}
.yellow_box .right_part .pm {
    border-top: 1px solid#f3f2f2;
    margin-top: 22px;
    text-align: center;
}
.yellow_box .right_part .bp {
    border-top: 1px solid#f3f2f2;
    border-bottom: 1px solid#f3f2f2;
    margin-top: 22px;
    font-size: 32px;
}
/* package_end */
/* payment_start */
.heading h2 {
    color: #ffa300;
}
.count h5 {
    color: #666;
    display: inline;
}
.count p {
    color: #666;
    display: inline;
    justify-content: end;
    float: right;
    font-weight: 500;
}
.total h5 {
    color: #666;
    display: inline;
    font-size: 26px;
}
.total p {
    color: #000;
    display: inline;
    justify-content: end;
    float: right;
    font-weight: 500;
    font-size: 26px;
}
/* payment_end */
/* payment_methor_start */
.pm h2 {
    color: #ffa300;
}
.pm h2 span {
    color: #003981;
}
.radio_buttons15 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.custom_radio15 input {
    display: none;
}
.radio_btn15 {
    margin: 10px;
    width: 180px;
    height: 125px;
    /* border: 1px solid #ffe6bb; */
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
}
.radio_btn15 > i {
    color: #fff;
    background-color: #ffa300;
    font-size: 20px;
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(4);
    border-radius: 50px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    opacity: 0;
}
.radio_btn15 .radio_img15 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio_btn15 .radio_img15 img {
    line-height: 80px;
    font-size: 60px;
    width: 170px;
    height: 115px;
    position: absolute;
    top: 64%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

/* .custom_radio15 input:checked + .radio_btn15 {
  border: 2px solid #FFA300;
} */
.custom_radio15 input:checked + .radio_btn15 > i {
    opacity: 1;
    transform: translateX(0%) scale(1);
}
/* payment_methor_end */
/* payment_form_start */
.heading2 h2 {
    color: #003981;
}
.heading2 h2 span {
    color: #ffa300;
}
.right_side form input {
    border: 1px solid #ffc35b;
    outline: none;
    margin-bottom: 15px;
}
.right_side form input::-webkit-input-placeholder {
    color: rgb(175, 174, 174);
    font-family: "Poppins", sans-serif;
}
.right_side form input::-moz-placeholder {
    color: rgb(175, 174, 174);
    font-family: "Poppins", sans-serif;
}
.right_side form input::-ms-input-placeholder {
    color: rgb(175, 174, 174);
    font-family: "Poppins", sans-serif;
}
.right_side form input::-moz-placeholder {
    color: rgb(175, 174, 174);
    font-family: "Poppins", sans-serif;
}

/* payment_form_end */
/* payment_end */
/* register_start */
.left_side_img {
    position: relative;
    background-image: url("../img/register/left_side_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}
.overlay2 {
    background: rgba(21, 37, 78, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.left_side_img .register_logo img {
    width: 180px;
    display: block;
    margin: 235px auto;
}
.right_side_text {
    height: 100vh;
    width: 100%;
}
.register_logo2 {
    margin-top: 20px;
}
.register_logo2 img {
    width: 65px;
    display: inline;
    vertical-align: top;
}
.register_logo2 .text {
    display: inline-block;
    margin-top: 0;
}
.register_logo2 .text h4 {
    color: #ffa300;
    font-size: 26px;
    margin: 5px 0 0 0;
    padding: 0;
    font-style: italic;
}
.register_logo2 .text h4 span {
    color: #003981;
}
.register_logo2 .text p {
    color: #726f6f;
    font-size: 7px;
    margin: 0;
    padding: 0;
}
.right_side_text .heading3 h2 {
    color: #ffa300;
}
.right_side_text .heading3 h2 span {
    color: #003981;
}
.right_side_text .heading3 p {
    color: #003981;
}
.all_input {
    width: 70%;
}
.first_line {
    width: 40%;
    float: left;
}
.first_line label {
    font-size: 18px;
    font-weight: 500;
    color: #003981;
}
.first_line input {
    border: 1px solid #c7c7c7;
}
.first_line input:hover {
    border: 1px solid #f9a11b;
}
.second_line {
    width: 40%;
    float: right;
}
.second_line label {
    font-size: 18px;
    font-weight: 500;
    color: #003981;
}
.second_line input {
    border: 1px solid #c7c7c7;
}
.second_line input:hover {
    border: 1px solid #f9a11b;
}
.form-check {
    display: inline-block;
    padding: 0;
}

input[type="checkbox"] + label {
    display: block;
    margin: 25px 0 0 0;
    cursor: pointer;
    padding: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    content: "\2714";
    border: 0.1em solid #f9a11b;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.4em;
    height: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 0.2em;
    margin-right: 0.5em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
    transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
    background-color: #f9a11b;
    border-color: #f9a11b;
    color: #fff;
}

.form-check label {
    color: #c7c7c7;
    font-size: 14px;
}
.form-check label a {
    color: #c7c7c7;
    text-decoration: underline;
}

/* register_end */
/* login_start */
.left_side_text2 {
    margin-left: 10rem;
}
.heading4 h2 {
    color: #003981;
    font-style: italic;
}
.heading4 h2 span {
    color: #ffa300;
}
.heading4 p {
    color: #003981;
}
.heading4 p span {
    color: #ffa300;
}
.login_input {
    width: 87%;
}
.login_email label {
    font-size: 18px;
    font-weight: 500;
    color: #003981;
}
.login_email input {
    border: 1px solid #c7c7c7;
}
.login_email input:hover {
    border: 1px solid #f9a11b;
}
.login_pass label {
    font-size: 18px;
    font-weight: 500;
    color: #003981;
}
.login_pass input {
    border: 1px solid #c7c7c7;
}
.login_pass input:hover {
    border: 1px solid #f9a11b;
}
.b_input {
    width: 100%;
    display: flex;
}
.remember_me {
    width: 50%;
}
.remember_me label {
    font-size: 14px;
    font-weight: 400;
    color: #003981;
}
.forgot_pass {
    width: 50%;
    margin: 25px 0 0 0;
    text-align: center;
}
.forgot_pass a {
    color: #ffa300;
    font-weight: 500;
    text-decoration: none;
}
.dont_have_acc {
    margin-top: 15px;
}
.dont_have_acc a {
    color: #003981;
    text-decoration: none;
}
.dont_have_acc a span {
    color: #ffa300;
}
.dont_have_acc p {
    margin-top: 40px;
    color: #a4a1a1;
    font-size: 16px;
}
/* login_end */

/* homepage_mediaQuery_start */
@media (max-width: 1200px) {
    .select1 {
        max-width: 175px;
    }
}
@media (max-width: 991px) {
    .select1 {
        max-width: 130px;
    }
}
@media (max-width: 767px) {
    .select1 {
        max-width: 170px;
    }
}
@media (max-width: 575px) {
    .select1 {
        max-width: 100px;
    }
}

@media (max-width: 1200px) {
    .calculate1 input {
        max-width: 175px;
    }
}
@media (max-width: 991px) {
    .calculate1 input {
        max-width: 130px;
    }
}
@media (max-width: 767px) {
    .calculate1 input {
        max-width: 170px;
    }
}
@media (max-width: 575px) {
    .calculate1 input {
        max-width: 100px;
    }
}
@media (max-width: 575px) {
    .calculate1 .form-control{
        font-size: 14px;
    }
    .select-container{
        height: 35px;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(35px + 0px);
    }
    .select-container .form-control{
        font-size: 13px;
    }
}


/* Keyboard_down_arrow_start */
@media (max-width: 1200px) {
    .select-container:after {
        left: 130px;
    }
}
@media (max-width: 991px) {
    .select-container:after {
        left: 90px;
    }
}
@media (max-width: 767px) {
    .select-container:after {
        left: 130px;
    }
}
@media (max-width: 575px) {
    .select-container:after {
        left: 70px;
    }
}
/* Keyboard_down_arrow_end */

@media (min-width: 275px) {
    #fitner_membership {
        min-height: 1160px;
    }
}
@media (min-width: 992px) {
    #fitner_membership {
        min-height: 480px;
    }
}
@media (min-width: 991px) {
    #membership {
        min-height: 480px;
    }
}

@media (max-width: 991px) {
    .about_me_img .back {
        width: 250px;
        margin-left: 0;
    }
    .about_me_img .front {
        width: 250px;
        margin-left: 0;
    }
}
@media (max-width: 576px) {
    .about_me_img .back {
        width: 200px;
    }
    .about_me_img .front {
        width: 200px;
        margin-bottom: 35px;
    }
}
@media (max-width: 768px) {
}
.about_me_img .front {
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .img3 {
        max-width: 400px;
    }
}
@media (max-width: 576px) {
    .img3 {
        max-width: 300px;
    }
}
@media (max-width: 1199px) {
    .ourTeam .i .c {
        margin: auto;
    }
}
@media(max-width:767px){
    .flag img{
        width: 20px;
        margin: 5px 10px 5px 0px;
    }
    .flag_text p{
        font-size: 13px;
        margin-left: 5px;
    }
}
@media(max-width:575px){
    .flag img{
        width: 13px;
        margin: 5px 5px 5px 0px;
    }
    .flag_text p{
        font-size: 12px;
    }
}
@media (min-width: 275px) {
    #footer {
        min-height: 900px;
    }
}
@media (min-width: 992px) {
    #footer {
        min-height: 420px;
    }
}

@media (max-width: 1199px) {
    /* .img__description {
      top: 215px;
      bottom: 30px;
      left: -20px;
      right: 320px;
    } */
    .img__description2 {
        top: -274px;
        bottom: 140px;
        left: 296px;
        right: -360px;
    }
    .img__wrap2 img {
        margin: -439px 0 0 225px;
    }

    .img__description3 {
        top: -105px;
        bottom: 0px;
        left: 139px;
        right: -205px;
    }
    .img__wrap3 img {
        margin: -60px 0 0 350px;
    }
    .img__description4 {
        top: -150px;
        bottom: 15px;
        left: 677px;
        right: -743px;
    }
    .img__wrap4 img {
        margin: -200px 0 0 605px;
    }
    .img__description5 {
        top: -418px;
        bottom: 330px;
        left: 450px;
        right: -512px;
    }
    .img__wrap5 img {
        margin: -740px 0 0 655px;
    }
}

@media (max-width: 991px) {
    .img__description2 {
        top: -280px;
        bottom: 145px;
        left: 15px;
        right: -80px;
    }
    .img__wrap2 img {
        width: 60px;
        margin: -439px 0 0 225px;
    }

    .img__description3 {
        top: -95px;
        bottom: -8px;
        left: 20px;
        right: -85px;
    }
    .img__wrap3 img {
        width: 60px;
        margin: -12px 0 0 230px;
    }
    .img__description4 {
        top: -210px;
        bottom: 60px;
        left: 537px;
        right: -576px;
    }
    .img__wrap4 img {
        width: 60px;
        margin: -200px 0 0 477px;
    }
    .img__description5 {
        top: -387px;
        bottom: 285px;
        left: 500px;
        right: -544px;
    }
    .img__wrap5 img {
        width: 60px;
        margin: -620px 0 0 438px;
    }
}

@media (max-width: 767px) {
    .img__description {
        top: 216px;
        bottom: 25px;
        left: 0;
        right: 335px;
    }
    .img__description2 {
        top: -330px;
        bottom: 212px;
        left: -14px;
        right: -58px;
    }
    .img__wrap2 img {
        width: 55px;
        margin: -385px 0 0 152px;
    }

    .img__description3 {
        top: -115px;
        bottom: 10px;
        left: -30px;
        right: -13px;
    }
    .img__wrap3 img {
        width: 55px;
        margin: -50px 0 0 155px;
    }
    .img__description4 {
        top: -110px;
        bottom: -36px;
        left: 220px;
        right: -265px;
    }
    .img__wrap4 img {
        width: 55px;
        margin: -200px 0 0 405px;
    }
    .img__description5 {
        top: -413px;
        bottom: 305px;
        left: 370px;
        right: -400px;
    }
    .img__wrap5 img {
        width: 55px;
        margin: -595px 0 0 316px;
    }
}


@media (max-width: 575px) {
    .img__wrap {
        width: 333px;
        margin: 0 !important;
    }
    .img__wrap img {
        width: 335px;
    }
    .img__description {
        top: 125px;
        bottom: 142px;
        left: 10px;
        right: 175px;
        font-size: 10px;
    }
    .img__description2 {
        top: -360px;
        bottom: 270px;
        left: 0px;
        right: -7px;
        font-size: 7px;
    }
    .img__wrap2 img {
        width: 40px;
        margin: -525px 0 0 90px;
    }

    .img__description3 {
        top: -214px;
        bottom: 130px;
        left: -4px;
        right: 37px;
        font-size: 7px;
    }
    .img__wrap3 img {
        width: 40px;
        margin: -330px 0 0 106px;
    }
    .img__description4 {
        top: -170px;
        bottom: 65px;
        left: 155px;
        right: -155px;
        font-size: 7px;
    }
    .img__wrap4 img {
        width: 40px;
        margin: -420px 0 0 225px;
    }

    .img__description5 {
        top: -422px;
        bottom: 325px;
        left: 225px;
        right: -185px;
        font-size: 7px;
    }
    .img__wrap5 img {
        width: 40px;
        margin: -710px 0 0 185px;
    }

}
@media (max-width: 575px) {
    .last_text .first {
        margin-top: -100px;
    }
}

/* homepage_mediaQuery_end */
/* form_mediaQuery_start */
@media (max-width: 767px) {
    .radio_buttons {
        text-align: center !important;
    }
}
@media (max-width: 1200px) {
    .radio_btn2 {
        width: 250px;
    }
}
@media (max-width: 991px) {
    .radio_buttons2 {
        text-align: center;
    }
}
@media (max-width: 1199px) {
    .radio_btn10 {
        width: 200px;
    }
}
@media (max-width: 1199px) {
    .radio_btn11 {
        width: 250px;
    }
}

@media (max-width: 991px) {
    #medical_condition .row {
        margin: auto;
    }
}
@media (max-width: 991px) {
    .slider1 {
        margin: auto;
    }
}
@media (max-width: 1199px) {
    .radio_btn13 {
        width: 250px;
    }
}
@media (max-width: 1199px) {
    .radio_img13 img {
        width: 220px;
    }
}
/* form_mediaQuery_end */

/* payment_mediaQuery_start */
@media (max-width: 768px) {
    .mi .edit {
        margin-right: 0px;
    }
}
@media (max-width: 767px) {
    .box2 {
        width: 32rem;
    }
}
@media (max-width: 575px) {
    .box2 {
        width: 22rem;
    }
    .check_text p {
        font-size: 9px;
    }
    .box2 h3,
    h5 {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .right_side form input {
        width: 50%;
    }
    .button1 a {
        width: 100%;
    }
}
/* payment_mediaQuery_end */
/* register_mediaQuery_start */
@media (max-width: 767px) {
    .left_side_img {
        display: none;
    }
    .first_line {
        width: 100%;
        margin: auto;
    }
    .second_line {
        width: 100%;
        margin: auto;
    }
    .heading3 {
        text-align: center;
    }
    .heading3 h2 {
        font-size: 24px;
    }
}
/* register_mediaQuery_end */

/* login_mediaQuery_start */
@media (max-width: 1199px) {
    .left_side_text2 {
        margin-left: 2rem;
    }
}
/* login_mediaQuery_end */
